@import "./App.css";

body {
  margin: 0;
  font-family: "Assistant", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1e323c;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #1e323c;
  color: white;
  height: 60px;
  padding: 10px 30px;
}

h1,
h2,
h3 {
  font-family: "Kodchasan", sans-serif;
  text-transform: uppercase;
}

h1 {
  color: #da8034;
  font-weight: 700;
}

h2 {
  color: white;
  background-color: #da8034;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 6px;
  width: auto;
  border-radius: 2px;
  padding: 5px 8px;
  margin-bottom: 20px;
}

h3 {
  color: #1e323c;
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-weight: bold;
}

#mag {
  font-family: "Kodchasan", sans-serif;
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 15px;
}

main {
  padding: 30px 100px;
}

a {
  color: #da8034;
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:active {
  color: #b95a0a;
}

a.navlink:link,
a.navlink:visited {
  color: white;
  font-weight: 400;
}
a.navlink:hover,
a.navlink:active {
  text-decoration: underline;
}

.faux-link {
  opacity: 0.6;
}

.bold {
  font-weight: bold;
}

.artwork-container {
  columns: 4;
  column-gap: 15px;
}

.artwork-card {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  transition: filter 0.3s ease-in-out;
  box-sizing: border-box;
}

.card-image {
  width: 100%;
  margin-bottom: 8px;
}

.artwork-card:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

.full-page-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.top-right-links {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 15px;
}

.top-right-links a {
  color: #da8034;
  font-weight: bold;
  text-decoration: none;
}

.top-right-links a:hover,
.top-right-links a:active {
  color: #b95a0a;
}

/*header css*/
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e323c;
  color: white;
  padding: 10px 30px;
}

.app-name {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: #da8034;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a:active {
  color: #b95a0a;
}
